<ul>
	<li><%= link_to("Users", admin_users_url()) %></li>
	<li><%= link_to("Feeds", admin_feeds_url()) %></li>
	<li><%= link_to("Feed Types", admin_feed_types_url()) %></li>
	<li><%= link_to("Recent Author Feeds", admin_author_feeds_recent_path) %></li>
</ul>